@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
  primary: md-get-palette-color(brown, A400),
  accent: md-get-palette-color(brown, 100),
  theme: light
));

@import "~vue-material/dist/theme/all";
